.nav{
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  top:0;
  left:0;
  background-color: white;
  border-bottom: 1px solid black;
  z-index: 1;
}
#logo{
  width: 3rem;
  height:3rem;
  object-fit: contain;
  margin-left: 2rem;
}
.search-bar{
  display: flex;
  align-items: center;
  margin-right: 5rem;
  border-radius: 20px;
  border: 1px solid gray;
  padding-left: 0.5rem;

}
.search-input{
  border: none;
  width: 17rem;
  height:2rem
}
.sidebar{
  display: flex;
  flex-direction: column;
  width: 10rem;
  height: 100vh;
  position: fixed;
  top:4rem;
  left: 0;
  background-color: white;
  border-right: 1px solid black;
}
.sidebar-button{
  border: none;
  background-color: white;
  /* margin: 0.5rem 0 */
}
.home{
  margin-left: 10rem;
}
#main{
  margin-top: 4rem;
}